:root{
    --box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    --text-color: #242424;
    --text-color-hover: #1cb0eb;
    --background-color: #fff;
    --box-shadow-hover: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
}